{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Admin Dashboard</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card bg-primary text-white p-3">

            <h4>Total Merchants</h4>

            <h2>{{ total_merchants }}</h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card bg-warning text-dark p-3">

            <h4>Pending Requests</h4>

            <h2>{{ pending_merchants }}</h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card bg-success text-white p-3">

            <h4>Approved Merchants</h4>

            <h2>{{ approved_merchants }}</h2>

        </div>

    </div>

</div>

<div class="mt-4">

    <a href="/merchant-requests/"
    class="btn btn-dark">

        View Merchant Requests

    </a>

    <a href="/admin-logout/"
    class="btn btn-danger">

        Logout

    </a>

</div>

{% endblock %}