{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">
                <h3>Add Customer</h3>
            </div>

            <div class="card-body">

                <form method="POST"
                enctype="multipart/form-data">

                    {% csrf_token %}

                    <div class="mb-3">

                        <label>Customer Name</label>

                        <input type="text"
                        name="customer_name"
                        class="form-control"
                        required>

                    </div>

                    <div class="mb-3">

                        <label>Phone</label>

                        <input type="text"
                        name="phone"
                        class="form-control"
                        required>

                    </div>

                    <div class="mb-3">

                        <label>Notes</label>

                        <textarea name="notes"
                        class="form-control"></textarea>

                    </div>

                    <div class="mb-3">

                        <label>Upload File</label>

                        <input type="file"
                        name="file"
                        class="form-control">

                    </div>

                    <button type="submit"
                    class="btn btn-success w-100">

                        Add Customer

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}